.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.pptx
*.pdf
# datasets can be large, but the user asked to upload this whole thing 
# I will check dataset size though
